<div class="backend">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">



    <slick class="slider" settings="vm.slickConfig" dots="false">

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/ASPnet.jpg" />
                <img src="/Content/Img/backend/ASPNET35Fundamentals.jpg" />
                <img src="/Content/Img/backend/aspnet4fundamentals.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/aspnet4webforms.jpg" />
                <img src="/Content/Img/backend/ASPNETMVC3Fundamentals.jpg" />
                <img src="/Content/Img/backend/ASPNETMVC4Fundamentals.jpg" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/aspnetmvc5fundamentals.png" />
                <img src="/Content/Img/backend/ASPNETMVCTestingFromScratch.jpg" />
                <img src="/Content/Img/backend/bestpracticesinaspnet.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/BestPracticesInASPNETEntitiesValidationAndViewModels.png" />
                <img src="/Content/Img/backend/buildingnosqlappswithredis.png" />
                <img src="/Content/Img/backend/buildingwebappsserviceswithentityframwork.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/c.png" />
                <img src="/Content/Img/backend/cshaprextensionmethods.png" />
                <img src="/Content/Img/backend/csharp4newfeatures.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/csharpevents.png" />
                <img src="/Content/Img/backend/CsharpFundamentalspt1.jpg" />
                <img src="/Content/Img/backend/csharpfundamentalswith5.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/csharpgenerics.png" />
                <img src="/Content/Img/backend/csharpinterfaces.png" />
                <img src="/Content/Img/backend/csharpprogrammingparadigms.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/defensivecodingincsharp.png"/>
                <img src="/Content/Img/backend/entityframework.png" />
                <img src="/Content/Img/backend/csharptipsandtraps.png"/>

                
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/EntityFrameworkDatabasePerformanceAntiPatterns.jpg" />
                <img src="/Content/Img/backend/FakeItEasy.jpg" />
                <img src="/Content/Img/backend/gettingstartedwithasynchronusprogramminginnet.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/IntroductionToCSharpAndNET.jpg" />
                <img src="/Content/Img/backend/IntroductionToNETTestingWithNUnit.jpg" />
                <img src="/Content/Img/backend/IntroductiontoNuGet.jpg" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/lessonsfromrealworldnetcodereviews.png" />
                <img src="/Content/Img/backend/LINQFundamentals.jpg" />
                <img src="/Content/Img/backend/mockingwithMoq.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/MVC3.jpg" />
                <img src="/Content/Img/backend/mvc3fundamentals.png" />
                <img src="/Content/Img/backend/netmicroorms.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/NETReflectorbyExample.jpg" />
                <img src="/Content/Img/backend/NHibernateFundamentals.jpg" />
                <img src="/Content/Img/backend/nosqlthebigpicture.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/oracledeveloperessentialsdatatypes.png" />
                <img src="/Content/Img/backend/oracledeveloperessentialstablesandindexes.png" />
                <img src="/Content/Img/backend/oracledeveloperessentialsviews.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/oracleplsqlfundamentalspt1.png" />
                <img src="/Content/Img/backend/playbyplaymodernizingyourdeployment.png" />
                <img src="../../Content/Img/backend/lessonsfromrealworldnetcodereviews.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/PracticalIoCWithASPNETMVC4.jpg" />
                <img src="/Content/Img/backend/practicallinq.png" />
                <img src="/Content/Img/backend/practiclareflectioninnet.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/reflector.png" />
                <img src="/Content/Img/backend/solidprinciplesofobjectorienteddesign.png" />
                <img src="/Content/Img/backend/SQLServerManagmentStudiobyExample.jpg" />
            </div>
        </div>


        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/SqlServerTransactSQLBasicDataModification.jpg" />
                <img src="/Content/Img/backend/tsql.png" />
                <img src="/Content/Img/backend/understandingandeliminatingtechnicaldebt.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/understandingnosql.png" />
                <img src="/Content/Img/backend/vbnet.png" />
                <img src="/Content/Img/backend/VBNETFundamentals.jpg" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/backend/webforms.png" />
                <img src="/Content/Img/backend/webperformance.png" />
                <img src="/Content/Img/softskills/agileestimation.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/softskills/agileintherealworld.png" />
                <img src="/Content/Img/softskills/agilerequirementsprocess.png" />
                <img src="/Content/Img/softskills/agileteampracticeswithscrum.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/softskills/bestpracticesforrequirementsgathering.png" />
                <img src="/Content/Img/softskills/debuggingtheweb.jpg" />
                <img src="/Content/Img/softskills/ethicalhackinghackinghackingwebapplications.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/softskills/ethicalhackingsessionhijacking.png" />
                <img src="/Content/Img/softskills/LinkedInFundamentals.jpg" />
                <img src="/Content/Img/softskills/mercurialfundamentals.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/softskills/owasptop10webapplicationsecurity.png" />
                <img src="/Content/Img/softskills/scrummasterskills.png" />
                <img src="/Content/Img/softskills/signalraccrosswebanddevices.png" />
            </div>
        </div>

        <div class="slide">
            <div class="slide1">
                <img src="/Content/Img/softskills/SignalRAcrossWebAndDevices.jpg" />
                <img src="/Content/Img/softskills/SocialMediaTheBigPicture.jpg" />
                <img src="/Content/Img/softskills/testfirstdevelopmentpt1.png" />
            </div>
        </div>

    </slick>
    <h1> Back End Development</h1>
</div>