<div class="clientspage">
    <div class="col-md-12">
        <h1>Clients</h1>
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
            <article>
                <div class="panel panel-primary">
                    <div class="panel-heading">Telephonica / Movement Strategies</div>
                    <div class="panel-body">
                        Make a single tenant application suitable for multiple clients with a variety of client specific options
                        <collapsible-panel hideall="vm.hideClients()" show="vm.showC1">
                            <dl>
                                <dt>Agile</dt>
                                <dt>Back End</dt>
                                <dd>Web Api, Dynamo DB, Autofac, Fluent Validations, Express Mapper, NLog</dd>
                                <dt>Front end</dt>
                                <dd>Angular JS, JSON, CSS, LESS, Bootstrap, HTML 5, JavaScript</dd>
                                <dt>TDD - Test Driven Development</dt>
                                <dd>MS Test, MOQ, Jasmine</dd>
                            </dl>
                            <p>
                                <span>June -Aug 2017</span>
                            </p>
                        </collapsible-panel>
                    </div>
                </div>
            </article>

            <article>
                <div class="panel panel-success">
                    <div class="panel-heading">Lummesse</div>
                    <div class="panel-body">
                        Front end development for the Sony, Panasonic and Ey Learning portals
                        <collapsible-panel hideall="vm.hideClients()" show="vm.showC2">
                            <dl>
                                <dt>Front end</dt>
                                <dd>JavaScript, CSS, HTML 5, Node JS, jQuery, Vue Js</dd>
                            </dl>
                            <p>
                                <span>April -May 2017</span>
                            </p>
                        </collapsible-panel>
                    </div>
                </div>
            </article>

            <article>
                <div class="panel panel-info">
                    <div class="panel-heading">Aibus Space and Defense</div>
                    <div class="panel-body">
                        Full stack development on satelite measurement and recording
                        <collapsible-panel hideall="vm.hideClients()" show="vm.showC3">
                            <div>
                                <dl>
                                    <dt>Agile</dt>
                                    <dt>Back End Technologies</dt>
                                    <dd>C#, ASP.net, MVC, SQL, Server, Web Api, Dapper, XML, Master Data Services, Entity Framework</dd>
                                    <dt>Front End Technologies
                                    <dd>
                                    <dd>Razor, TypeScript, JavaScript, JQuery, Bootstrap, Kendo</dd>
                                    <dt>TDD - Test Driven Development</dt>
                                    <dd>MS Test, MOQ, Jasmine</dd>
                                </dl>
                            </div>
                            <p>
                                Feb – April 2017
                            </p>
                        </collapsible-panel>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-md-4">
            <article>
                <div class="panel panel-info">
                    <div class="panel-heading">Saga</div>
                    <div class="panel-body">
                        Insurance renewals, Holiday Insurance and Data viewer
                        <collapsible-panel hideall="vm.hideClients()" show="vm.showC4">
                            <div>
                                <dl>
                                    <dt>Agile</dt>
                                    <dt>Back End Technologies</dt>
                                    <dd>C#, Oracle, ASP.net MVC, SQL Server, Ninject, Web Api, Dapper, ASP.NET web forms, XML, Console Applications</dd>
                                    <dt>Front End Technologies
                                    <dd>HTML 5, Bootstrap, Razor, LESS, CSS, Angular JS, JavaScript, jQuery, JSON</dd>
                                    <dt>TDD - Test Driven Development</dt>
                                    <dd>nUnit, MOQ, Jasmine</dd>
                                </dl>
                            </div>
                            <p>March 2016 – Jan 2017 (Extended)</p>
                        </collapsible-panel>
                    </div>
                </div>
            </article>


            <article>
                <div class="panel panel-primary">
                    <div class="panel-heading">Access Group</div>
                    <div class="panel-body">
                        Adding new features into a scheduling system for the care industry (Mail Merge, APIs and data exports)
                        <collapsible-panel hideall="vm.hideClients()" show="vm.showC5">

                            <dl>
                                <dt>Agile</dt>
                                <dt>Back End Technologies</dt>
                                <dd>VB.net, Asp.net Web Forms, SQL Server, Stored Procedures, SQL/TSQL, XML</dd>
                                <dt>Front End Technologies</dt>
                                <dd>Angular JS</dd>
                            </dl>

                            <p>Nov 2015 – March 2016</p>
                        </collapsible-panel>
                    </div>
                </div>
            </article>

            <article>
                <div class="panel panel-success">
                    <div class="panel-heading">BeValued</div>
                    <div class="panel-body">
                        Design and development of a fitting centre portal for the insurance claims industry.
                        <collapsible-panel hideall="vm.hideClients()" show="vm.showC6">
                            <div>
                                <dl>
                                    <dt>Agile</dt>
                                    <dt>Back End Technologies</dt>
                                    <dd>VB.net, Asp.net Web Forms, SQL Server, Stored Procedures, SQL/TSQL, XML</dd>
                                    <dt>Front End Technologies</dt>
                                    <dd>Angular JS</dd>
                                </dl>
                            </div>
                            <p>April 2014 – Nov 2015</p>
                        </collapsible-panel>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article>
                <div class="panel panel-success">
                    <div class="panel-heading">Smith & Ouzman</div>
                    <div class="panel-body">
                        Design and development of a security printing application.
                        <collapsible-panel hideall="vm.hideClients()" show="vm.showC7">

                            <dl>
                                <dt>Agile</dt>
                                <dt>Back End Technologies</dt>
                                <dd>ASP.NET MVC 3 & 4, SQL Server, TSQL/SQL, Stored Procedures, C#, WCF, Entity Framework, MVCMailer, Unity</dd>
                                <dt>Front End Technologies</dt>
                                <dd>HTML, jQuery, JavaScript, CSS, AJAX, JSON, Razor</dd>
                                <dt>TDD</dt>
                                <dd>nUnit, Fake It Easy, Ms Test</dd>
                            </dl>

                            <p>
                                <span>April 2013– April 2014</span>
                            </p>
                        </collapsible-panel>
                    </div>
                </div>
            </article>

            <article>
                <div class="panel panel-info">
                    <div class="panel-heading">Darwin Consultants</div>
                    <div class="panel-body">
                        SQL Reporting Services, Web Developer and Winforms
                        <collapsible-panel hideall="vm.hideClients()" show="vm.showC8">

                            <dl>
                                <dt>Technologies</dt>
                                <dd>
                                    ASP.NET Web Forms,
                                    HTML,
                                    SQL Reporting services,
                                    Crystal Reports,
                                    SQL Server,
                                    TSQL/SQL,
                                    Stored Procedures,
                                    jQuery,
                                    JavaScript,
                                    CSS,
                                    VB.NET,
                                    Classic ASP,
                                    IIS,
                                    VB script,
                                    WCF,
                                    SVN,
                                    SSIS
                                </dd>
                            </dl>

                            <p>
                                <span>May 2012– March 2013</span>
                            </p>
                        </collapsible-panel>
                    </div>
                </div>
            </article>

            <article>
                <div class="panel panel-primary">
                    <div class="panel-heading">Wightman & Parrish Ltd</div>
                    <div class="panel-body">
                        Migration of reporting to SSRS, Sales Tool, Web site & Repairs
                        <collapsible-panel hideall="vm.hideClients()" show="vm.showC9">

                            <dl>
                                <dt>Back end Technologies</dt>
                                <dd>ASP.NET Web Forms, SQL Server, C#, ADO, ASP.NET MVC</dd>
                                <dt>Front End Technologies</dt>
                                <dd>HTML, JavaScript,CSS</dd>
                                <dt>Database Technologies</dt>
                                <dd>SQL Reporting services, SQL Server, TSQL/SQL, Stored Procedures, MS Query</dd>
                                <dt>Other Tech</dt>
                                <dd>VBA, MS Access, IIS</dd>
                            </dl>

                            <p>
                                <span>May 2012– March 2013</span>
                            </p>
                        </collapsible-panel>
                    </div>
                </div>
            </article>

        </div>
    </div>
</div>