<div>
    <h1>Contact Glenn</h1>

    <form novalidate>
        <div class="col-md-12">
            <div class="form-group row">
                <label for="from">Name</label>
                <input class="form-control" type="text" id="name" ng-model="emailMessage.name" required="">
                <div ng-show="form.$submitted || form.name.$touched">
                    <div ng-show="form.name.$error.required">*</div>
                </div>

            </div>

            <div class="form-group row">
                <label for="from">Email Address</label>
                <input class="form-control" type="email" id="from" ng-model="emailMessage.email" required="">
                <div ng-show="form.$submitted || form.email.$touched">
                    <div ng-show="form.email.$error.required">*</div>
                </div>

            </div>
            <div class="form-group row">
                <label for="message">Message</label>
                <textarea class="form-control" type="text" rows="5" id="message" ng-model="emailMessage.message" required=""></textarea>
                <div ng-show="form.$submitted || form.message.$touched">
                    <div ng-show="form.message.$error.required">*</div>
                </div>
            </div>

            <div class="form-group row">
                <input type="submit" 
                       class="btn btn-primary" 
                       value="Send" 
                       ng-click="vm.send(emailMessage)" 
                       ng-disabled="form.name.$dirty && form.name.$invalid 
                                || form.email.$dirty && form.email.$invalid
                                || form.message.$dirty && form.message.$invalid"/>
            </div>
        </div>
</form>
</div>