<footer class="padding-top-lg margin-top-xl">
    <div class="container">
        <div class="col-md-12 padding-top-md">

            <div class="col-md-4">

                <a href="tel:07568400965"><i class="fa fa-phone"></i> 07568400965</a><br />
                <a href="mailto:glenn.packer@glennpacker.net"><i class="fa fa-envelope"></i> Glenn.Packer@GlennPacker.net</a><br />
                <address><i class="fa fa-map-marker"></i> 9 Chichester Road, Hellingly, Sussex</address>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-right">
                <br />
                <br />
                <a href="http://www.linkedin.com/pub/glenn-packer/22/186/107"><i class="fa fa-linkedin-square"></i></a> &nbsp;
                <a href="https://plus.google.com/110379359463069164458"><i class="fa fa-google-plus"></i></a> &nbsp;
                <a href="https://github.com/GlennPacker"><i class="fa fa-github"></i></a> &nbsp;
                <a href="https://www.facebook.com/GlennPackerNet"><i class="fa fa-facebook-official"></i></a> &nbsp;
            </div>


        </div>
        <div class="col-md-12 text-center">
            <p>&copy; 2017 - GlennPacker.net</p>
        </div>
    </div>
</footer>
