<div class="backend">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">



<slick class="slider" settings="vm.slickConfig" dots="false">

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/ABetterCSSLESSAndSASS.png" />
            <img src="../../Content/Img/frontend/angularbestpractices.jpg" />
            <img src="../../Content/Img/frontend/angularfronttobackwithwebapi.jpg" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/angularjsbestpractices.png" />
            <img src="../../Content/Img/frontend/angularjslineofbusinessapplications.png" />
            <img src="../../Content/Img/frontend/angularjswithtypescript.png" />
        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/AngularTheBigPicture.jpg" />
            <img src="../../Content/Img/frontend/Bootstrap3.jpg" />
            <img src="../../Content/Img/frontend/BowerFundamentals.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/css.png" />
            <img src="../../Content/Img/frontend/googlemapsapigetstarted.png" />
            <img src="../../Content/Img/frontend/HandsOnResponsiveWebDesign.jpg" />

        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/html5fromscratch.png" />
            <img src="../../Content/Img/frontend/htmlfundamentals.jpg" />
            <img src="../../Content/Img/frontend/IntroductiontoBootstrap.jpg" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/introductiontocss.jpg" />
            <img src="../../Content/Img/frontend/IntroductionToPresentationDesign.jpg" />
            <img src="../../Content/Img/frontend/javascriptforcsharpdevelopers.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/jQueryFundamentals.jpg" />
            <img src="../../Content/Img/frontend/jQueryGettingStarted.jpg" />
            <img src="../../Content/Img/frontend/jQueryUI.jpg" />
        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/QuickStartToJavaScript.jpg" />
            <img src="../../Content/Img/frontend/QuickStartToJavaScriptVolume2.jpg" />
            <img src="../../Content/Img/frontend/reactfundamentals.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/socialmedia.png" />
            <img src="../../Content/Img/frontend/testingangularjsfromscratch.png" />
            <img src="../../Content/Img/frontend/thinkingoutsidetheboxwithcssshapes.png" />
        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/typescriptfundamentals.png" />
            <img src="../../Content/Img/frontend/UserExperienceFirstAndInContext.jpg" />
            <img src="../../Content/Img/softskills/agileestimation.png" />

        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/agileintherealworld.png" />
            <img src="../../Content/Img/softskills/agilerequirementsprocess.png" />
            <img src="../../Content/Img/softskills/agileteampracticeswithscrum.png" />
        </div>
        
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/bestpracticesforrequirementsgathering.png" />
            <img src="../../Content/Img/softskills/debuggingtheweb.jpg" />
            <img src="../../Content/Img/softskills/ethicalhackinghackinghackingwebapplications.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/ethicalhackingsessionhijacking.png" />
            <img src="../../Content/Img/softskills/LinkedInFundamentals.jpg" />
            <img src="../../Content/Img/softskills/mercurialfundamentals.png" />

        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/owasptop10webapplicationsecurity.png" />
            <img src="../../Content/Img/softskills/scrummasterskills.png" />
            <img src="../../Content/Img/softskills/signalraccrosswebanddevices.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/SignalRAcrossWebAndDevices.jpg" />
            <img src="../../Content/Img/softskills/SocialMediaTheBigPicture.jpg" />
            <img src="../../Content/Img/softskills/testfirstdevelopmentpt1.png" />
        </div>
    </div>

</slick>
<h1> Front End Development</h1>
</div>