<div class="frontend">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">

<slick class="slider" settings="vm.slickConfig" dots="false">

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/ABetterCSSLESSAndSASS.png" />
            <img src="../../Content/Img/frontend/angularbestpractices.jpg" />
            <img src="../../Content/Img/frontend/angularfronttobackwithwebapi.jpg" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/angularjsbestpractices.png" />
            <img src="../../Content/Img/frontend/angularjslineofbusinessapplications.png" />
            <img src="../../Content/Img/frontend/angularjswithtypescript.png" />
        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/AngularTheBigPicture.jpg" />
            <img src="../../Content/Img/frontend/Bootstrap3.jpg" />
            <img src="../../Content/Img/frontend/BowerFundamentals.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/css.png" />
            <img src="../../Content/Img/frontend/googlemapsapigetstarted.png" />
            <img src="../../Content/Img/frontend/HandsOnResponsiveWebDesign.jpg" />

        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/html5fromscratch.png" />
            <img src="../../Content/Img/frontend/htmlfundamentals.jpg" />
            <img src="../../Content/Img/frontend/IntroductiontoBootstrap.jpg" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/introductiontocss.jpg" />
            <img src="../../Content/Img/frontend/IntroductionToPresentationDesign.jpg" />
            <img src="../../Content/Img/frontend/javascriptforcsharpdevelopers.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/jQueryFundamentals.jpg" />
            <img src="../../Content/Img/frontend/jQueryGettingStarted.jpg" />
            <img src="../../Content/Img/frontend/jQueryUI.jpg" />
        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/QuickStartToJavaScript.jpg" />
            <img src="../../Content/Img/frontend/QuickStartToJavaScriptVolume2.jpg" />
            <img src="../../Content/Img/frontend/reactfundamentals.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/socialmedia.png" />
            <img src="../../Content/Img/frontend/testingangularjsfromscratch.png" />
            <img src="../../Content/Img/frontend/thinkingoutsidetheboxwithcssshapes.png" />
        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/frontend/typescriptfundamentals.png" />
            <img src="../../Content/Img/frontend/UserExperienceFirstAndInContext.jpg" />
            <img src="../../Content/Img/softskills/agileestimation.png" />

        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/agileintherealworld.png" />
            <img src="../../Content/Img/softskills/agilerequirementsprocess.png" />
            <img src="../../Content/Img/softskills/agileteampracticeswithscrum.png" />
        </div>
        
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/bestpracticesforrequirementsgathering.png" />
            <img src="../../Content/Img/softskills/debuggingtheweb.jpg" />
            <img src="../../Content/Img/softskills/ethicalhackinghackinghackingwebapplications.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/ethicalhackingsessionhijacking.png" />
            <img src="../../Content/Img/softskills/LinkedInFundamentals.jpg" />
            <img src="../../Content/Img/softskills/mercurialfundamentals.png" />

        </div>
    </div>
    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/owasptop10webapplicationsecurity.png" />
            <img src="../../Content/Img/softskills/scrummasterskills.png" />
            <img src="../../Content/Img/softskills/signalraccrosswebanddevices.png" />
        </div>
    </div>

    <div class="slide">
        <div class="slide1">
            <img src="../../Content/Img/softskills/SignalRAcrossWebAndDevices.jpg" />
            <img src="../../Content/Img/softskills/SocialMediaTheBigPicture.jpg" />
            <img src="../../Content/Img/softskills/testfirstdevelopmentpt1.png" />
        </div>
    </div>

</slick>
    <h1> Front End Development</h1>
    
    <p>
        The term front end development refers to a developer that is capable of dealing with all visual elements. 
        On a website it means somone who is capable of writing HTML, CSS and JavaScript and derivatives.
    </p>
    
    <div class="col-md-12 padding-top-lg">
        <article class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Html</div>
                <div class="panel-body">
                    <p>Glenn Packer has been writing html for 20 years. Html standards have changed through the years, variants include XHTML and later HTML5.</p>
                    <p>Glenn  worked in a classroom environment teaching HTML from 1998.</p>
                    <p>Through the years new ways of writing HTML programatically have developed, from Classic ASP, Controls via ASP.net and later with the emergance of MVC3 the Razor syntax.
                    Glenn has kept abreast of all these developments and still uses HTML on a daily basis.</p>
                </div>
            </div>
        </article>

        <article class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">CSS</div>
                <div class="panel-body">
                    <p>Glenn Packer has been writing CSS for 14 years. Through the years the specification has been added to and new ways of writing CSS have emerged, such as SASS and LESS.</p>
                    <p>
                        Demands on styling a website are stronger now than ever. Every site needs to be responsive and attractive on any device, from phone to destop and in every browser.
                        To help with these growing demands, in recent years there has been a flurry of new CSS frameworks, the biggest of which is Twitter's Bootstrap.
                        Glenn has built this site using Bootstrap.
                    </p>
                </div>
            </div>
        </article>
        
        <article class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">JavaScript</div>
                <div class="panel-body">
                    <p>Glenn Packer has been writing JavaScript for 14 years. For a long time JavaScript was just a way to animate somthing on a page, this was made easier by the emergance jQuery and jQuery UI. </p>
                    <p>Then Ajax was born, giving the ability to use Javascript to retrieve smaller parts of the page directly from the server. This huge breakthrough changed the face of JavaScript. JavaScript and its Frameworks, such as Angular, <a href="http://vuejs.glennpacker.net/" target="_blank">Vue Js</a> and React are today some of the most sort after skills on the market.</p>
                </div>
            </div>
        </article>
    </div>
</div>