<div class="home">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">


    <div class="col-lg-offset-2 col-lg-10 col-lg-pull-1 hidden-xs">
        <slick class="slider" settings="vm.slickConfig" dots="false">
            <div class="slide">
                <article class="hidden-sm hidden-xs">
                    <h3>Great-Night-Out</h3>
                    <ul>
                        <li>TDD</li>
                        <li>nUnit</li>
                        <li>FakeItEasy</li>
                        <li>Angular JS</li>
                        <li>Asp.net MVC</li>
                        <li>Web Api 2</li>
                        <li>Entity Framework</li>
                        <li>SQL Server</li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>Html</li>

                    </ul>
                </article>
                <div class="slide1">
                    <img src="/content/Img/gno.jpg" />
                </div>
            </div>


            <div class="slide">
                <article class="hidden-sm hidden-xs">
                    <h3>Lummesse (Vodaphone)</h3>
                    <ul>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>Html</li>
                    </ul>
                </article>
                <div class="slide1">
                    <img src="/content/Img/voda.jpg" />
                </div>
            </div>

            <div class="slide">
                <article class="hidden-sm hidden-xs">
                    <h3>Saga</h3>
                    <ul>
                        <li>C#</li>
                        <li>Asp.net MVC</li>
                        <li>Oracle</li>
                        <li>Dapper</li>
                        <li>Web API</li>
                        <li>HTML 5</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                    </ul>
                </article>
                <div class="slide1">
                    <img src="/content/Img/saga.jpg" />
                </div>
            </div>

            <div class="slide">
                <article class="hidden-sm hidden-xs">
                    <h3>Finnesse Consulting</h3>
                    <ul>
                        <li>TDD</li>
                        <li>C#</li>
                        <li>Asp.net MVC</li>
                        <li>SQL Server</li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>Html</li>
                    </ul>
                </article>
                <div class="slide1">
                    <img src="/content/Img/finnesse.jpg" />
                </div>
            </div>

            <div class="slide">
                <article class="hidden-sm hidden-xs">
                    <h3>Smith & Ouzman</h3>
                    <ul>
                        <li>C#</li>
                        <li>Asp.net MVC</li>
                        <li>WCF</li>
                        <li>SQL Server</li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>Html</li>
                        <li>MVCMailer</li>
                        <li>Ninject</li>
                    </ul>
                </article>
                <div class="slide1">
                    <img src="/content/Img/ecert3.jpg" />
                </div>
            </div>

            <div class="slide">
                <article class="hidden-sm hidden-xs">
                    <h3>Lummesse (EY)</h3>
                    <ul>
                        <li><a href="http://vuejs.glennpacker.net/" target="_blank">Vue Js</a></li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>Html</li>
                    </ul>
                </article>
                <div class="slide1">
                    <img src="/content/Img/ey.jpg" />
                </div>
            </div>
        </slick>
    </div>



    <article class="col-md-12 main">
        <h1>Glenn Packer Software Development Contractor</h1>
        <div class="col-md-3 hidden-sm hidden-xs">
            <img class="circleimage" src="/Content/Img/GlennPacker.jpg" />
        </div>
        <div class="padding-top-lg col-md-9 text-justify">
            <p>Glenn Packer is a freelance contractor, working as a full-stack developer with experience in many different sectors. </p>  
            <p>Based in Sussex, Glenn is available for any length of contract, anywhere in the UK or Europe.</p>
            <p>Glenn Packer can bring a wealth of knowledge and expertise to a project, either to kickstart a new one or bring new
                ideas to the environment.</p>
            <p>Happy to work either in an Agile environment or Waterfall, Glenn is equally equally at home running the project or contributing to the team.</p>
        </div>
    </article>

    <div class="col-md-12">
        <div class="col-md-6">
            <article class="panel panel-success">
                <div class="panel-heading">
                    History
                </div>
                <div class="panel-body">
                    <p>
                        With over 25 years experience in the IT industry from support, training and development.
                    </p>
                    <ul class="timeline">
                        <li>
                            <span>2005</span>  Full stack Web developer
                            <collapsible-panel hideall="vm.hideTimelinePanels()" show="vm.show05">
                                <p> Back end,  Front end and Full stack development contracts.</p>
                                <dl>
                                    <dt>Technologies</dt>
                                    <dd><a ui-sref="backenddevelopment">Back end Technologies</a></dd>
                                    <dd><a ui-sref="frontenddevelopment">Front end Technologies</a></dd>
                                </dl>
                            </collapsible-panel>
                        </li>
                        <li>
                            <span>2003</span> Database and Web developer
                            <collapsible-panel hideall="vm.hideTimelinePanels()" show="vm.show03">
                                <p></p>
                                <dl>
                                    <dt>Software &amp; Programming languages</dt>
                                    <dd>SQL Server including SSRS, SSAS</dd>
                                    <dd>Oracle</dd>
                                    <dd>MS Access</dd>
                                    <dd>Classic ASP</dd>
                                    <dd>HTML</dd>
                                    <dd>JavaScript</dd>
                                    <dd>CSS</dd>
                                </dl>
                            </collapsible-panel>
                        </li>
                        <li>
                            <span>2000</span> Support
                            <collapsible-panel hideall="vm.hideTimelinePanels()" show="vm.show00">

                                <p>Desktop and remote support for Unisys, Symonds Group, Panasonic</p>
                                <dl>
                                    <dt>Software (not limited to)</dt>
                                    <dd>Windows</dd>
                                    <dd>MS Office</dd>
                                    <dd>Lotus Notes</dd>
                                    <dd>SQL Server</dd>
                                </dl>

                            </collapsible-panel>
                        </li>
                        <li>
                            <span>1999</span> Y2k
                            <collapsible-panel hideall="vm.hideTimelinePanels()" show="vm.show99">

                                <p>Y2K for Dysis systems, Taunton Council, North Wales Newpapers, Scottish Courage Breweries including software migrations and audits</p>
                                <dl>
                                    <dt>Software & Programming Languages</dt>
                                    <dd>SQL Server</dd>
                                    <dd>MS Office</dd>
                                    <dd>Operating Systems</dd>
                                    <dd>VBA</dd>
                                    <dd>BIOS updates</dd>
                                </dl>

                            </collapsible-panel>
                        </li>
                        <li>
                            <span>1998</span> Software Trainer
                            <collapsible-panel hideall="vm.hideTimelinePanels()" show="vm.show98">
                                <p>Classroom, small group and one to one training including contracts for Swindon Bourough Council and British Steel</p>
                                <dl>
                                    <dt>Software & Programming Languages</dt>
                                    <dd>Bespoke Software training</dd>
                                    <dd>Lotus Smart Suite</dd>
                                    <dd>MS Office</dd>
                                    <dd>Html</dd>
                                </dl>
                            </collapsible-panel>
                        </li>
                        <li>
                            <span>1995</span> Computer hardware.
                            <collapsible-panel hideall="vm.hideTimelinePanels()" show="vm.show95">
                                <p>Repair of workstation and server motherboards to component level on the Intel contract.</p>
                                <p>Research and Development on laptop motherbaords on the Dell contract.</p>
                                <dl>
                                    <dt>Software & Programming Languages</dt>
                                    <dd>C</dd>
                                    <dd>MS Access</dd>
                                    <dd>VBA</dd>
                                    <dd>SQL</dd>
                                    <dd>Assembly language</dd>
                                </dl>

                            </collapsible-panel>
                        </li>

                        <li>
                            <span>1991</span> Apprentice (MoD).
                            <collapsible-panel hideall="vm.hideTimelinePanels()" show="vm.show91">
                                <p>ONC - HND Electrical and Electronic Engineering</p>
                                <dl>
                                    <dt>Programming Languages</dt>
                                    <dd>C</dd>
                                    <dd>Pascal</dd>
                                    <dd>6809 assembly language</dd>
                                </dl>
                            </collapsible-panel>
                        </li>
                    </ul>
                </div>
            </article>
        </div>

        <div class="col-md-6">
            <article class="panel panel-info">
                <div class="panel-heading">
                    Clients
                </div>
                <div class="panel-body">
                    <p>
                        Previous clients in recent years:
                    </p>
                    <ul class="clients">
                        <li>
                            Movement Statgies/Telephonica
                            <collapsible-panel hideall="vm.hideClientPanels()" show="vm.showC1">
                                <p>Full Stack Developer (Jun - Aug 2017)</p>
                                <dl>
                                    <dt>Technolgies</dt>
                                    <dd>Angular Js</dd>
                                    <dd>JSON</dd>
                                    <dd>Web Api 2</dd>
                                    <dd>Dynamo DB</dd>
                                    <dd>AWS</dd>
                                    <dd>JavaScript</dd>
                                    <dd>CSS</dd>
                                    <dd>Bootstrap</dd>
                                    <dd>HTML 5</dd>
                                    <dd>Autofac</dd>
                                    <dd>Fluent Validations</dd>
                                    <dd>Express Mapper</dd>
                                    <dd>NLog</dd>
                                    <dd>MOQ</dd>
                                    <dd>Nunit</dd>
                                </dl>
                            </collapsible-panel>
                        </li>
                        <li>
                            Great Night Out
                            <collapsible-panel hideall="vm.hideClientPanels()" show="vm.showC2">
                                <p>Full Stack Developer (Jun 2013 - Present)</p>
                                <dl>
                                    <dt>Technolgies</dt>
                                    <dd>Angular Js</dd>
                                    <dd>JSON</dd>
                                    <dd>Web Api 2</dd>
                                    <dd>SQL Server</dd>
                                    <dd>JavaScript</dd>
                                    <dd>CSS</dd>
                                    <dd>Bootstrap</dd>
                                    <dd>HTML 5</dd>
                                    <dd>Unity</dd>
                                    <dd>Fake It Easy</dd>
                                    <dd>Nunit</dd>
                                </dl>
                            </collapsible-panel>
                        </li>
                        <li>
                            Lumesse
                            <collapsible-panel hideall="vm.hideClientPanels()" show="vm.showC3">
                                <p>Front end developer (April - May 2017)</p>
                                <dl>
                                    <dt>Technolgies</dt>
                                    <dd>JavaScript</dd>
                                    <dd><a href="http://vuejs.glennpacker.net/" target="_blank">Vue Js</a></dd>
                                    <dd>CSS</dd>
                                    <dd>HTML 5</dd>
                                    <dd>Node JS</dd>
                                    <dd>jQuery</dd>
                                    
                                </dl>
                            </collapsible-panel>
                        </li>


                        <li>
                            Airbus Space and Defence
                            <collapsible-panel hideall="vm.hideClientPanels()" show="vm.showC4">
                                <p>Full Stack Developer (Feb – April 2017)</p>
                                <dl>
                                    <dt>Technolgies</dt>
                                    <dd>C#</dd>
                                    <dd>ASP.net MVC</dd>
                                    <dd>SQL Server</dd>
                                    <dd>Web Api</dd>
                                    <dd>Dapper</dd>
                                    <dd>XML</dd>
                                    <dd>Master Data Services</dd>
                                    <dd>Entity Framework</dd>
                                    <dd>Razor</dd>
                                    <dd>TypeScript</dd>
                                    <dd>JavaScript</dd>
                                    <dd>JQuery</dd>
                                    <dd>Bootstrap</dd>
                                </dl>
                            </collapsible-panel>
                        </li>

                        <li>
                            Saga
                            <collapsible-panel hideall="vm.hideClientPanels()" show="vm.showC5">
                                <p>Full Stack Developer (March 2016 – Jan 2017)</p>
                                <dl>
                                    <dt>Technolgies</dt>
                                    <dd>C#</dd>
                                    <dd>Asp.net MVC</dd>
                                    <dd>Oracle</dd>
                                    <dd>SQL Server</dd>
                                    <dd>Dapper</dd>
                                    <dd>Ninject</dd>
                                    <dd>Web API</dd>
                                    <dd>HTML 5</dd>
                                    <dd>Bootstrap</dd>
                                    <dd>Razor</dd>
                                    <dd>LESS</dd>
                                    <dd>CSS</dd>
                                    <dd>Angular JS</dd>
                                    <dd>JavaScript</dd>
                                    <dd>jQuery</dd>
                                </dl>
                            </collapsible-panel>
                        </li>

                        <li>
                            Access Group
                            <collapsible-panel hideall="vm.hideClientPanels()" show="vm.showC6">
                                <p>Full Stack Developer (Nov 2015 – March 2016)</p>
                                <dl>
                                    <dt>Technolgies</dt>
                                    <dd>VB.net</dd>
                                    <dd>Asp.net Web Forms</dd>
                                    <dd>SQL Server</dd>
                                    <dd>Stored Procedures</dd>
                                    <dd>SQL/TSQL</dd>
                                    <dd>XML</dd>
                                    <dd>Angular JS</dd>
                                </dl>
                            </collapsible-panel>
                        </li>

                        <li>
                            BeValued
                            <collapsible-panel hideall="vm.hideClientPanels()" show="vm.showC7">
                                <p>Full Stack Developer (April 2014 – Nov 2015)</p>
                                <dl>
                                    <dt>Technolgies</dt>
                                    <dd>C#</dd>
                                    <dd>Web Api 2</dd>
                                    <dd>MVC4</dd>
                                    <dd>Razor</dd>
                                    <dd>Entity Framework</dd>
                                    <dd>nHibernate</dd>
                                    <dd>StructureMap</dd>
                                    <dd>Ninject</dd>
                                    <dd>Autofac</dd>
                                    <dd>NServicebus</dd>
                                    <dd>SQL Server</dd>
                                    <dd>Log4net</dd>
                                    <dd>NLog</dd>
                                    <dd>HTML 5</dd>
                                    <dd>JavaScript</dd>
                                    <dd>Angular JS</dd>
                                    <dd>JQuery</dd>
                                    <dd>CSS</dd>
                                    <dd>Underscore Js</dd>
                                    <dd>Bootstrap</dd>
                                    <dd>NuGet</dd>
                                    <dd>JSON</dd>
                                    <dd>Classic Asp</dd>
                                </dl>
                            </collapsible-panel>
                        </li>
                        <li>
                            Smith &amp; Ouzman
                            <collapsible-panel hideall="vm.hideClientPanels()" show="vm.showC8">
                                <p>Business Systems Developer (April 2013 – April 2014)</p>
                                <dl>
                                    <dt>Technolgies</dt>
                                    <dd>ASP.NET MVC 3 & 4</dd>
                                    <dd>SQL Server</dd>
                                    <dd>TSQL/SQL</dd>
                                    <dd>Stored Procedures</dd>
                                    <dd>C#</dd>
                                    <dd>WCF</dd>
                                    <dd>Entity Framework</dd>
                                    <dd>MVCMailer</dd>
                                    <dd>Ninject</dd>
                                    <dd>Unity</dd>
                                    <dd>HTML</dd>
                                    <dd>jQuery</dd>
                                    <dd>JavaScript</dd>
                                    <dd>CSS</dd>
                                    <dd>AJAX</dd>
                                    <dd>JSON</dd>
                                    <dd>Razor</dd>
                                    <dd>NUnit</dd>
                                </dl>
                            </collapsible-panel>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        
    </div>

</div>