<nav class="cd-3d-nav-container">
    <ul class="cd-3d-nav">
        <li ui-sref-active="cd-selected" ng-click="itemSelected()">
            <a ui-sref="home"><i class="fa fa-home fa-3x"></i><br /><span>Home</span></a>
        </li>

        <li ui-sref-active="cd-selected" ng-click="itemSelected()">
            <a ui-sref="clients"><i class="fa fa-users fa-3x"></i><br /><span>Clients</span></a>
        </li>

        <li ui-sref-active="cd-selected" ng-click="itemSelected()">
            <a ui-sref="frontenddevelopment"><i class="fa fa-cog fa-3x"></i><br /><span>Front End</span></a>
        </li>

        <li ui-sref-active="cd-selected" ng-click="itemSelected()">
            <a ui-sref="backenddevelopment"><i class="fa fa-cogs fa-3x"></i><br /><span>Back End</span></a>
        </li>

        <li ui-sref-active="cd-selected" ng-click="itemSelected()">
            <a ui-sref="contact"><i class="fa fa-envelope-o fa-3x"></i><br/><span>Contact</span></a>
        </li>
    </ul> <!-- .cd-3d-nav -->
</nav>