@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Jasmine</title>
    
    <meta name="viewport" content="width=device-width" />
    <title>Jasmine</title>
    
    <link href="~/Jasmine/Dist/lib/jasmine-2.5.2/jasmine.css" rel="stylesheet" />

    <script src="~/Jasmine/Dist/lib/jasmine-2.5.2/jasmine.js"></script>
    <script src="~/Jasmine/Dist/lib/jasmine-2.5.2/jasmine-html.js"></script>
    <script src="~/Jasmine/Dist/lib/jasmine-2.5.2/boot.js"></script>
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular.js"></script>
    
    <script src="~/Scripts/lodash.js"></script>
    
    <script src="~/Scripts/angular-mocks.js"></script>
    <script src="~/Scripts/restangular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/slick.js"></script>
    <script src="~/Scripts/angular-slick.js"></script>
    <script src="~/Jasmine/Dist/src/basicapp.js"></script>
    
    <!-- Services -->
    <script src="~/Js/Services/ContactService.js"></script>
    
    <!-- Controllers -->
    <script src="~/Js/Controllers/backEndCtrl.js"></script>
    <script src="~/Js/Controllers/clientsCtrl.js"></script>
    <script src="~/Js/Controllers/contactCtrl.js"></script>
    <script src="~/Js/Controllers/frontEndCtrl.js"></script>
    <script src="~/Js/Controllers/homeCtrl.js"></script>

    
    <!-- Services Spec -->
    <script src="~/Jasmine/Dist/spec/services/ContactServiceServiceSpec.js"></script>
    
    <!-- controllers Spec -->
    <script src="~/Jasmine/Dist/spec/controllers/backEndCtrlSpec.js"></script>
    <script src="~/Jasmine/Dist/spec/controllers/clientsCtrlSpec.js"></script>
    <script src="~/Jasmine/Dist/spec/controllers/frontEndCtrlSpec.js"></script>
    <script src="~/Jasmine/Dist/spec/controllers/homeControllerSpec.js"></script>
    <script src="~/Jasmine/Dist/spec/controllers/contactControllerSpec.js"></script>

</head>
<body>
<div>
      
</div>
</body>
</html>